<h1>Greetings from Mustache engine!</h1>

<p> I have handlebar mustache and that's the name of plugin :) </p>

<ul>
{{#videos}}
<li>{{name}}</li>
{{/videos}}
</ul>

<form action="/new-video" method="post">
    <label>
        <input type="text" name="name">
    </label>
    <button type="submit">Submit</button>
</form>

<h3>Multi Search</h3>
<form action="/multi-field-search" method="post">
    <label for="name">Name:
        <input type="text" name="name">
    </label>
    <label for="description">Description:
        <input type="text" name="description">
    </label>
    <button type="submit">Search</button>
</form>

<h3>Universal Search</h3>
<form action="/universal-search" method="post">
    <label for="value">Search:
        <input type="text" name="value">
    </label>
    <button type="submit">Search</button>
</form>
